.GALERIA-DE-FOTOS {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  position: relative;
  background-color: #ffeccc;
  overflow: hidden;
}

.GALERIA-DE-FOTOS .MENU {
  position: relative;
  width: 1920px;
  height: 43px;
}

.GALERIA-DE-FOTOS .rectangle {
  top: 18px;
  height: 7px;
  background-color: #ba487f;
  position: absolute;
  left: 0;
  width: 1920px;
}

.GALERIA-DE-FOTOS .component {
  top: 0;
  left: 162px;
  width: 141px;
  height: 43px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
}

.GALERIA-DE-FOTOS .text-wrapper {
  position: absolute;
  width: 48.23%;
  height: 55.81%;
  top: 33.33%;
  left: 26.24%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .div-wrapper {
  top: 0;
  left: 647px;
  width: 141px;
  height: 43px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
}

.GALERIA-DE-FOTOS .div {
  position: absolute;
  width: 74.47%;
  height: 55.81%;
  top: 33.33%;
  left: 13.48%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .component-2 {
  top: 0;
  left: 1132px;
  width: 141px;
  height: 43px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
}

.GALERIA-DE-FOTOS .text-wrapper-2 {
  position: absolute;
  width: 91.49%;
  height: 55.81%;
  top: 33.33%;
  left: 4.26%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .component-3 {
  top: 0;
  left: 1617px;
  width: 141px;
  height: 43px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
}

.GALERIA-DE-FOTOS .text-wrapper-3 {
  position: absolute;
  width: 83.69%;
  height: 55.81%;
  top: 33.33%;
  left: 8.51%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .CAR-FOR-CAR {
  position: relative;
  width: 1924px;
  height: 152px;
  margin-right: -4.00px;
}

.GALERIA-DE-FOTOS .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 106px);
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ba487f;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.GALERIA-DE-FOTOS .rectangle-2 {
  top: 60px;
  height: 92px;
  background-color: #ba487f;
  position: absolute;
  left: 0;
  width: 1920px;
}

.GALERIA-DE-FOTOS .esta-serie-fotogr {
  position: absolute;
  top: 76px;
  left: calc(50.00% - 639px);
  width: 1274px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.GALERIA-DE-FOTOS .span {
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 16px;
  letter-spacing: 0;
}

.GALERIA-DE-FOTOS .text-wrapper-5 {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
}

.GALERIA-DE-FOTOS .DINOINFO {
  top: 26px;
  left: 1486px;
  width: 111px;
  height: 45px;
  aspect-ratio: 2.48;
  position: absolute;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .FOTOS-y-BOTON {
  position: relative;
  width: 1364px;
  height: 973px;
}

.GALERIA-DE-FOTOS .IMAGEN1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 323px;
  height: 431px;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .IMAGEN2 {
  top: 0;
  left: 348px;
  width: 323px;
  height: 431px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .IMAGEN3 {
  top: 0;
  left: 694px;
  width: 323px;
  height: 431px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .IMAGEN4 {
  top: 0;
  left: 1042px;
  width: 322px;
  height: 431px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .IMAGEN5 {
  top: 459px;
  left: 0;
  width: 323px;
  height: 429px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .IMAGEN6 {
  top: 458px;
  left: 348px;
  width: 321px;
  height: 430px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .IMAGEN7 {
  top: 458px;
  left: 694px;
  width: 323px;
  height: 430px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .IMAGEN8 {
  top: 458px;
  left: 1042px;
  width: 322px;
  height: 430px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .component-4 {
  top: 922px;
  left: 599px;
  width: 165px;
  height: 51px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
}

.GALERIA-DE-FOTOS .text-wrapper-6 {
  position: absolute;
  width: 69.70%;
  height: 47.06%;
  top: 25.49%;
  left: 15.15%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .PIE-DE-PAGINA {
  position: relative;
  width: 1926px;
  height: 140px;
  margin-right: -6.00px;
}

.GALERIA-DE-FOTOS .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 140px;
  background-color: #ba487f;
}

.GALERIA-DE-FOTOS .DINOPIEDEPAGINA {
  top: 37px;
  left: 61px;
  width: 61px;
  height: 65px;
  aspect-ratio: 0.94;
  position: absolute;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .rectangle-4 {
  top: 101px;
  height: 1px;
  background-color: #ffeccc;
  position: absolute;
  left: 0;
  width: 1920px;
}

.GALERIA-DE-FOTOS .text-wrapper-7 {
  position: absolute;
  top: 14px;
  left: 303px;
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.GALERIA-DE-FOTOS .correo {
  position: absolute;
  top: 46px;
  left: 303px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.GALERIA-DE-FOTOS .text-wrapper-8 {
  font-weight: 700;
}

.GALERIA-DE-FOTOS .text-wrapper-9 {
  font-family: "Montserrat-Regular", Helvetica;
}

.GALERIA-DE-FOTOS .text-wrapper-10 {
  position: absolute;
  top: calc(50.00% + 40px);
  left: calc(50.00% - 124px);
  font-family: "Montserrat-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #ffeccc;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
/* Inject original CSS code here */

.GALERIA-DE-FOTOS {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  position: relative;
  background-color: #ffeccc;
  overflow: hidden;
}

.GALERIA-DE-FOTOS .MENU {
  position: relative;
  width: 1920px;
  height: 43px;
}

.GALERIA-DE-FOTOS .rectangle {
  top: 18px;
  height: 7px;
  background-color: #ba487f;
  position: absolute;
  left: 0;
  width: 1920px;
}

.GALERIA-DE-FOTOS .component {
  top: 0;
  left: 162px;
  width: 141px;
  height: 43px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.GALERIA-DE-FOTOS .component:hover,
.GALERIA-DE-FOTOS .component:focus {
  background-color: #8a2a2a;
}

.GALERIA-DE-FOTOS .text-wrapper {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .div-wrapper {
  top: 0;
  left: 647px;
  width: 141px;
  height: 43px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.GALERIA-DE-FOTOS .div-wrapper:hover,
.GALERIA-DE-FOTOS .div-wrapper:focus {
  background-color: #8a2a2a;
}

.GALERIA-DE-FOTOS .div {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .component-2 {
  top: 0;
  left: 1132px;
  width: 141px;
  height: 43px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.GALERIA-DE-FOTOS .component-2:hover,
.GALERIA-DE-FOTOS .component-2:focus {
  background-color: #8a2a2a;
}

.GALERIA-DE-FOTOS .text-wrapper-2 {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .component-3 {
  top: 0;
  left: 1617px;
  width: 141px;
  height: 43px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.GALERIA-DE-FOTOS .component-3:hover,
.GALERIA-DE-FOTOS .component-3:focus {
  background-color: #8a2a2a;
}

.GALERIA-DE-FOTOS .text-wrapper-3 {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .CAR-FOR-CAR {
  position: relative;
  width: 1924px;
  height: 152px;
  margin-right: -4.00px;
}

.GALERIA-DE-FOTOS .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 106px);
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ba487f;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.GALERIA-DE-FOTOS .rectangle-2 {
  top: 60px;
  height: 92px;
  background-color: #ba487f;
  position: absolute;
  left: 0;
  width: 1920px;
}

.GALERIA-DE-FOTOS .esta-serie-fotogr {
  position: absolute;
  top: 76px;
  left: calc(50.00% - 639px);
  width: 1274px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.GALERIA-DE-FOTOS .span {
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 16px;
  letter-spacing: 0;
}

.GALERIA-DE-FOTOS .text-wrapper-5 {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
}

.GALERIA-DE-FOTOS .image {
  top: 26px;
  left: 1486px;
  width: 111px;
  height: 45px;
  aspect-ratio: 2.48;
  position: absolute;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .FOTOS-y-BOTON {
  position: relative;
  width: 1364px;
  height: 973px;
}

.GALERIA-DE-FOTOS .gallery-item {
  margin: 0;
  padding: 0;
}

.GALERIA-DE-FOTOS .captura-de-pantalla {
  position: absolute;
  top: 0;
  left: 0;
  width: 323px;
  height: 431px;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .img {
  top: 0;
  left: 348px;
  width: 323px;
  height: 431px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .captura-de-pantalla-2 {
  top: 0;
  left: 694px;
  width: 323px;
  height: 431px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .captura-de-pantalla-3 {
  top: 0;
  left: 1042px;
  width: 322px;
  height: 431px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .captura-de-pantalla-4 {
  top: 459px;
  left: 0;
  width: 323px;
  height: 429px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .captura-de-pantalla-5 {
  top: 458px;
  left: 348px;
  width: 321px;
  height: 430px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .captura-de-pantalla-6 {
  top: 458px;
  left: 694px;
  width: 323px;
  height: 430px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .captura-de-pantalla-7 {
  top: 458px;
  left: 1042px;
  width: 322px;
  height: 430px;
  position: absolute;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .component-4 {
  top: 922px;
  left: 599px;
  width: 165px;
  height: 51px;
  position: absolute;
  background-color: #722323;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.GALERIA-DE-FOTOS .component-4:hover,
.GALERIA-DE-FOTOS .component-4:focus {
  background-color: #8a2a2a;
}

.GALERIA-DE-FOTOS .text-wrapper-6 {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.GALERIA-DE-FOTOS .PIE-DE-PAGINA {
  position: relative;
  width: 1926px;
  height: 140px;
  margin-right: -6.00px;
}

.GALERIA-DE-FOTOS .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 140px;
  background-color: #ba487f;
}

.GALERIA-DE-FOTOS .image-2 {
  top: 37px;
  left: 61px;
  width: 61px;
  height: 65px;
  aspect-ratio: 0.94;
  position: absolute;
  object-fit: cover;
}

.GALERIA-DE-FOTOS .rectangle-4 {
  top: 101px;
  height: 1px;
  background-color: #ffeccc;
  position: absolute;
  left: 0;
  width: 1920px;
}

.GALERIA-DE-FOTOS .text-wrapper-7 {
  position: absolute;
  top: 5px;
  left: 303px;
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.GALERIA-DE-FOTOS .correo {
  position: absolute;
  top: 46px;
  left: 303px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  font-style: normal;
}

.GALERIA-DE-FOTOS .correo a {
  color: #ffeccc;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.GALERIA-DE-FOTOS .correo a:hover,
.GALERIA-DE-FOTOS .correo a:focus {
  opacity: 0.8;
  text-decoration: underline;
}

.GALERIA-DE-FOTOS .text-wrapper-8 {
  font-weight: 700;
}

.GALERIA-DE-FOTOS .text-wrapper-9 {
  font-family: "Montserrat-Regular", Helvetica;
}

.GALERIA-DE-FOTOS .text-wrapper-10 {
  position: absolute;
  top: calc(40.00% + 40px);
  left: calc(50.00% - 124px);
  font-family: "Montserrat-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #ffeccc;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
