.SOBRE-MI {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  background-color: #ffeccc;
  overflow: hidden;
}

.SOBRE-MI .MENU {
  position: relative;
  width: 1920px;
  height: 43px;
}

.SOBRE-MI .rectangle {
  position: absolute;
  top: 18px;
  left: 0;
  width: 1920px;
  height: 7px;
  background-color: #ba487f;
}

.SOBRE-MI .component {
  left: 162px;
  position: absolute;
  top: 0;
  width: 141px;
  height: 43px;
  background-color: #722323;
  border-radius: 10px;
}

.SOBRE-MI .text-wrapper {
  position: absolute;
  width: 48.23%;
  height: 55.81%;
  top: 33.33%;
  left: 26.24%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.SOBRE-MI .div-wrapper {
  left: 647px;
  position: absolute;
  top: 0;
  width: 141px;
  height: 43px;
  background-color: #722323;
  border-radius: 10px;
}

.SOBRE-MI .div {
  position: absolute;
  width: 74.47%;
  height: 55.81%;
  top: 33.33%;
  left: 13.48%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.SOBRE-MI .component-2 {
  left: 1132px;
  position: absolute;
  top: 0;
  width: 141px;
  height: 43px;
  background-color: #722323;
  border-radius: 10px;
}

.SOBRE-MI .text-wrapper-2 {
  position: absolute;
  width: 91.49%;
  height: 55.81%;
  top: 33.33%;
  left: 4.26%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.SOBRE-MI .component-3 {
  left: 1617px;
  position: absolute;
  top: 0;
  width: 141px;
  height: 43px;
  background-color: #722323;
  border-radius: 10px;
}

.SOBRE-MI .text-wrapper-3 {
  position: absolute;
  width: 83.69%;
  height: 55.81%;
  top: 33.33%;
  left: 8.51%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* ⬅️ Altura ajustada para el texto */
.SOBRE-MI .QUIEN-ES-GABS {
  position: relative;
  width: 1924px;
  height: 350px; 
  margin-right: -4.00px;
}

/* ⬅️ Altura ajustada para el fondo rojo */
.SOBRE-MI .rectangle-2 {
  position: absolute;
  top: 39px;
  left: 0;
  width: 1920px;
  height: 200px; 
  background-color: #722323;
}

.SOBRE-MI .group {
  position: absolute;
  top: 0;
  left: 162px;
  width: 319px;
  height: 308px;
  display: flex;
  background-color: #722323;
  border-radius: 159.5px / 154px;
}

.SOBRE-MI .CIRCULOFOTO {
  margin-top: 11.3px;
  width: 291.89px;
  height: 285.3px;
  margin-left: 13.6px;
  aspect-ratio: 1.02;
  object-fit: cover;
}

.SOBRE-MI .DINOCAMARA{
  position: absolute;
  top: 155px;
  left: 241px;
  width: 60px;
  height: 54px;
  aspect-ratio: 1.17;
  object-fit: cover;
}

.SOBRE-MI .text-wrapper-4 {
  position: absolute;
  top: 60px;
  left: 599px;
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

/* ⬅️ Ancho reducido para forzar el salto de línea y la visibilidad */
.SOBRE-MI .mi-nombre-es {
  position: absolute;
  top: 108px;
  left: 599px;
  width: 1100px; 
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 500;
  color: #ffeccc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.SOBRE-MI .span {
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 16px;
  letter-spacing: 0;
}

.SOBRE-MI .text-wrapper-5 {
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
}

.SOBRE-MI .CONEJITO1 {
  position: absolute;
  top: 7px;
  left: 1758px;
  width: 42px;
  height: 39px;
  aspect-ratio: 1.06;
  object-fit: cover;
}

.SOBRE-MI .CONEJITO2 {
  position: absolute;
  top: 7px;
  left: 1716px;
  width: 42px;
  height: 39px;
  aspect-ratio: 1.06;
  object-fit: cover;
}

.SOBRE-MI .HERRAMIENTAS {
  position: relative;
  width: 1930px;
  height: 490px;
  margin-right: -10.00px;
}

.SOBRE-MI .rectangle-3 {
  position: absolute;
  top: 260px;
  left: 0;
  width: 1920px;
  height: 7px;
  background-color: #ba487f;
}

.SOBRE-MI .rectangle-4 {
  position: absolute;
  top: 74px;
  left: 168px;
  width: 357px;
  height: 414px;
  background-color: #722323;
  border-radius: 28px;
}

.SOBRE-MI .LOGOAI {
  position: absolute;
  top: 100px;
  left: 25px;
  width: 110px;
  height: 110px;
  aspect-ratio: 1;
  object-fit: cover;
}

.SOBRE-MI .LOGOLR {
  position: absolute;
  top: 95px;
  left: 220px;
  width: 112px;
  height: 113px;
  aspect-ratio: 1;
  object-fit: cover;
}

.SOBRE-MI .LOGOCP {
  position: absolute;
  top: 250px;
  left: 25px;
  width: 109px;
  height: 109px;
  aspect-ratio: 1;
  object-fit: cover;
}

.SOBRE-MI .LOGOPS {
  position: absolute;
  top: 250px;
  left: 220px;
  width: 115px;
  height: 112px;
  aspect-ratio: 1.03;
  object-fit: cover;
}

.SOBRE-MI .DINOAI {
  position: absolute;
  top: 75px;
  left: 50px;
  width: 61px;
  height: 51px;
  aspect-ratio: 1.2;
  object-fit: cover;
}

.SOBRE-MI .DINOLR {
  position: absolute;
  top: 70px;
  left: 200px;
  width: 78px;
  height: 74px;
  aspect-ratio: 1.2;
  object-fit: cover;
}

.SOBRE-MI .DINOPS {
  position: absolute;
  top: 225px;
  left: 250px;
  width: 61px;
  height: 51px;
  aspect-ratio: 1.2;
  object-fit: cover;
}

.SOBRE-MI .DINOCP {
  position: absolute;
  top: 225px;
  left: 75px;
  width: 76px;
  height: 72px;
  aspect-ratio: 1.2;
  object-fit: cover;
}

.SOBRE-MI .text-wrapper-6 {
  position: absolute;
  top: 30px;
  left: 25px;
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.SOBRE-MI .rectangle-5 {
  position: absolute;
  top: 29px;
  left: 750px;
  width: 438px;
  height: 461px;
  background-color: #722323;
  border-radius: 31px;
  z-index: 10;
}

.SOBRE-MI .rectangle-6 {
  position: absolute;
  top: 29px;
  left: 1413px;
  width: 366px;
  height: 461px;
  background-color: #722323;
  border-radius: 31px;
}

.SOBRE-MI .text-wrapper-7 {
  position: absolute;
  top: 68px;
  left: 50%; 
  transform: translateX(-50%);
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.SOBRE-MI .text-wrapper-8 {
  position: absolute;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}


.SOBRE-MI .espa-ol-nativo-ingl {
  position: absolute;
  top: 171px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; 
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.SOBRE-MI .CONEJITOACADEMICO {
  position: absolute;
  top: 15px; 
  left: 798px;
  width: 42px;
  height: 39px;
  aspect-ratio: 1.06;
  object-fit: cover;
  z-index: 0;
}
.SOBRE-MI .colegio-minuto-de {
  position: absolute;
  top: 162px;
  left: 50%; 
  transform: translateX(-50%);
  width: 90%; 
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.SOBRE-MI .DINOIDIOMAS {
  position: absolute;
  top: 420px;
  left: 1698px;
  width: 60px;
  height: 70px;
  aspect-ratio: 0.85;
  object-fit: cover;
}

.SOBRE-MI .text-wrapper-9 {
  font-weight: 700;
}

.SOBRE-MI .text-wrapper-10 {
  font-family: "Montserrat-Regular", Helvetica;
}


.SOBRE-MI .PIE-DE-PAGINA {
  position: relative;
  width: 1926px;
  height: 140px;
  margin-right: -6.00px;
}

.SOBRE-MI .rectangle-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 140px;
  background-color: #ba487f;
}

.SOBRE-MI .rectangle-8 {
  position: absolute;
  top: 101px;
  left: 0;
  width: 1920px;
  height: 1px;
  background-color: #ffeccc;
}

.SOBRE-MI .DINOPIEDEPAGINA {
  position: absolute;
  top: 37px;
  left: 61px;
  width: 61px;
  height: 65px;
  aspect-ratio: 0.94;
  object-fit: cover;
}

.SOBRE-MI .text-wrapper-11 {
  position: absolute;
  top: 14px;
  left: 303px;
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.SOBRE-MI .correo {
  position: absolute;
  top: 46px;
  left: 303px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.SOBRE-MI .text-wrapper-12 {
  position: absolute;
  top: calc(50.00% + 40px);
  left: calc(50.00% - 123px);
  font-family: "Montserrat-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #ffeccc;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


.SOBRE-MI .component,
.SOBRE-MI .div-wrapper,
.SOBRE-MI .component-2,
.SOBRE-MI .component-3 {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SOBRE-MI .component:hover,
.SOBRE-MI .div-wrapper:hover,
.SOBRE-MI .component-2:hover,
.SOBRE-MI .component-3:hover {
  background-color: #8b2e2e;
}

.SOBRE-MI .component:focus,
.SOBRE-MI .div-wrapper:focus,
.SOBRE-MI .component-2:focus,
.SOBRE-MI .component-3:focus {
  outline: 2px solid #ffeccc;
  outline-offset: 2px;
}

.SOBRE-MI .text-wrapper,
.SOBRE-MI .div,
.SOBRE-MI .text-wrapper-2,
.SOBRE-MI .text-wrapper-3 {
  position: static;
  width: auto;
  height: auto;
  top: auto;
  left: auto;
}

.SOBRE-MI .correo a {
  color: #ffeccc;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.SOBRE-MI .correo a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.SOBRE-MI .correo a:focus {
  outline: 2px solid #ffeccc;
  outline-offset: 2px;
}

.SOBRE-MI address {
  font-style: normal;
}