.PROYECTOS {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
  position: relative;
  background-color: #ffeccc;
  overflow: hidden;
}

.PROYECTOS .MENU {
  position: relative;
  width: 1920px;
  height: 43px;
}

.PROYECTOS .rectangle {
  position: absolute;
  top: 18px;
  left: 0;
  width: 1920px;
  height: 7px;
  background-color: #ba487f;
}

.PROYECTOS .component {
  left: 162px;
  position: absolute;
  top: 0;
  width: 141px;
  height: 43px;
  background-color: #722323;
  border-radius: 10px;
}

.PROYECTOS .text-wrapper {
  position: absolute;
  width: 48.23%;
  height: 55.81%;
  top: 33.33%;
  left: 26.24%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.PROYECTOS .div-wrapper {
  left: 647px;
  position: absolute;
  top: 0;
  width: 141px;
  height: 43px;
  background-color: #722323;
  border-radius: 10px;
}

.PROYECTOS .div {
  position: absolute;
  width: 74.47%;
  height: 55.81%;
  top: 33.33%;
  left: 13.48%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.PROYECTOS .component-2 {
  left: 1132px;
  position: absolute;
  top: 0;
  width: 141px;
  height: 43px;
  background-color: #722323;
  border-radius: 10px;
}

.PROYECTOS .text-wrapper-2 {
  position: absolute;
  width: 91.49%;
  height: 55.81%;
  top: 33.33%;
  left: 4.26%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.PROYECTOS .component-3 {
  left: 1617px;
  position: absolute;
  top: 0;
  width: 141px;
  height: 43px;
  background-color: #722323;
  border-radius: 10px;
}

.PROYECTOS .text-wrapper-3 {
  position: absolute;
  width: 83.69%;
  height: 55.81%;
  top: 33.33%;
  left: 8.51%;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.PROYECTOS .PROYECTOS-DE-GABS {
  position: relative;
  width: 1924px;
  height: 165px;
  margin-right: -4.00px;
}

.PROYECTOS .text-wrapper-4 {
  position: absolute;
  top: -20px;
  left: calc(50.00% - 172px);
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ba487f;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.PROYECTOS .rectangle-2 {
  position: absolute;
  top: 60px;
  left: 0;
  width: 1920px;
  height: 105px;
  background-color: #ba487f;
}

.PROYECTOS .en-esta-secci-n {
  position: absolute;
  top: 70px;
  left: calc(55.00% - 645px);
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.PROYECTOS .span {
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 16px;
  letter-spacing: 0;
}

.PROYECTOS .text-wrapper-5 {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
}

.PROYECTOS .DINOINFORMACION {
  position: absolute;
  top: 26px;
  left: 1486px;
  width: 111px;
  height: 45px;
  aspect-ratio: 2.48;
  object-fit: cover;
}

.PROYECTOS .LINEA-UNO-PROYECTOS {
  position: relative;
  width: 1922px;
  height: 258px;
  margin-right: -2.00px;
}

.PROYECTOS .rectangle-3 {
  position: absolute;
  top: 125px;
  left: 0;
  width: 1920px;
  height: 7px;
  background-color: #f2aca1;
}

.PROYECTOS .CONEJO1 {
  position: absolute;
  top: 88px;
  left: 533px;
  width: 48px;
  height: 45px;
  aspect-ratio: 1.05;
  object-fit: cover;
}

.PROYECTOS .ALRITMODELSABOR {
  position: absolute;
  top: 0;
  left: 162px;
  width: 223px;
  height: 252px;
  aspect-ratio: 0.88;
}

.PROYECTOS .frame {
  left: 849px;
  width: 224px;
  position: absolute;
  top: 0;
  height: 252px;
  border-radius: 21px;
  overflow: hidden;
}

.PROYECTOS .rectangle-4 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 223px;
  height: 252px;
  background-color: #d9d9d9;
  opacity: 0.7;
}

.PROYECTOS .CARRO {
  position: absolute;
  top: 0;
  left: 1px;
  width: 223px;
  height: 252px;
  aspect-ratio: 0.84;
  object-fit: cover;
}

.PROYECTOS .DIBUJO {
  position: absolute;
  top: 0;
  left: 1532px;
  width: 226px;
  height: 258px;
  aspect-ratio: 0.88;
}

.PROYECTOS .todos-reflejan-la {
  position: absolute;
  top: 45px;
  left: 1140px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 400;
  color: #ba487f;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.PROYECTOS .text-wrapper-6 {
  font-weight: 500;
}

.PROYECTOS .LINEA-DOS-PROYECTOS {
  position: relative;
  width: 1922px;
  height: 252px;
  margin-right: -2.00px;
}

.PROYECTOS .rectangle-5 {
  position: absolute;
  top: 126px;
  left: 0;
  width: 1920px;
  height: 7px;
  background-color: #f2aca1;
}

.PROYECTOS .CONEJO2 {
  position: absolute;
  top: 88px;
  left: 1336px;
  width: 48px;
  height: 45px;
  aspect-ratio: 1.05;
  object-fit: cover;
}

.PROYECTOS .frame-2 {
  left: 162px;
  width: 223px;
  position: absolute;
  top: 0;
  height: 252px;
  border-radius: 21px;
  overflow: hidden;
}

.PROYECTOS .rectangle-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 223px;
  height: 252px;
  background-color: #d9d9d9;
  opacity: 0.7;
}

.PROYECTOS .PARCHATE {
  position: absolute;
  top: 0;
  left: 0;
  width: 223px;
  height: 252px;
  aspect-ratio: 0.56;
  object-fit: cover;
}

.PROYECTOS .CALI {
  position: absolute;
  top: 0;
  left: 887px;
  width: 223px;
  height: 252px;
  aspect-ratio: 0.88;
}

.PROYECTOS .DIBUJO2 {
  position: absolute;
  top: 0;
  left: 1536px;
  width: 222px;
  height: 252px;
  aspect-ratio: 0.88;
}

.PROYECTOS .cada-proyecto-fue {
  position: absolute;
  top: 45px;
  left: 500px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 400;
  color: #ba487f;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.PROYECTOS .PIE-DE-PAGINA {
  position: relative;
  width: 1926px;
  height: 140px;
  margin-right: -6.00px;
}

.PROYECTOS .rectangle-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 140px;
  background-color: #ba487f;
}

.PROYECTOS .DINOPIEDEPAGINA {
  position: absolute;
  top: 37px;
  left: 61px;
  width: 61px;
  height: 65px;
  aspect-ratio: 0.94;
  object-fit: cover;
}

.PROYECTOS .rectangle-8 {
  position: absolute;
  top: 101px;
  left: 0;
  width: 1920px;
  height: 1px;
  background-color: #ffeccc;
}

.PROYECTOS .text-wrapper-7 {
  position: absolute;
  top: 0px;
  left: 303px;
  font-family: "MuseoModerno-Bold", Helvetica;
  font-weight: 700;
  color: #ffeccc;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.PROYECTOS .correo {
  position: absolute;
  top: 46px;
  left: 303px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 400;
  color: #ffeccc;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.PROYECTOS .text-wrapper-8 {
  font-weight: 700;
}

.PROYECTOS .text-wrapper-9 {
  font-family: "Montserrat-Regular", Helvetica;
}

.PROYECTOS .text-wrapper-10 {
  position: absolute;
  top: calc(40.00% + 40px);
  left: calc(50.00% - 123px);
  font-family: "Montserrat-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #ffeccc;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
/* Original CSS code should be injected here */

.PROYECTOS .MENU a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.PROYECTOS .MENU a:hover {
  opacity: 0.9;
}

.PROYECTOS .MENU a:focus {
  outline: 2px solid #ffeccc;
  outline-offset: 2px;
}

.PROYECTOS .component span,
.PROYECTOS .div-wrapper span,
.PROYECTOS .component-2 span,
.PROYECTOS .component-3 span {
  display: block;
}

.PROYECTOS .project-item {
  margin: 0;
}

.PROYECTOS .correo a {
  color: #ffeccc;
  text-decoration: none;
}

.PROYECTOS .correo a:hover {
  text-decoration: underline;
}

.PROYECTOS .correo a:focus {
  outline: 2px solid #ffeccc;
  outline-offset: 2px;
}

.PROYECTOS address {
  font-style: normal;
}
